<% provide :title, "Blog" %>

<%= render("blogs/latest_post_jumbotron", post: Blog.published.first) if Blog.any? %>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        My blog posts
      </h3>
      <div class="blog-post">
        <%= render @blogs %>

        <nav class="blog-pagination">
          <%= link_to_prev_page @blogs, "Newer", class: "btn btn-outline-primary" %>
          <%= link_to_next_page @blogs, "Older", class: "btn btn-outline-primary" %>
        </nav>
      </div>
    </div>

    <%= render "layouts/blogs/sidebar" %>
  </div>
</main>
