<% provide :title, "Portfolio" %>
<% provide :keywords, "Portfolio" %>

<%= render "portfolios/jumbotron" %>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row<%= ' sortable' if logged_in? :site_admin %>"
         data-sort-url="<%= sort_portfolios_path %>">
    <%= render partial: "portfolio_item", collection: @portfolio_items %>
    </div>

    <% if logged_in? :site_admin %>
      <%= link_to "Create new Portfolio Item", new_portfolio_path,
                  type: "button", class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>


